.thrill-background {
	background: url(/asset/img/firewatch-forest-landscape-in-game-minimalistic.jpg) no-repeat;
	background-size: cover;
	height: calc(100vh - 50px);
	width: 100vw;
}

.thrill-container {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}

.thrill-container h1 {
	text-transform: uppercase;
	font-size: 60px;
	margin: 0px;
	letter-spacing: 10px;
}

.thrill-container h2 {
	margin: 0;
	font-size: 20px;
	font-weight: 500px;
	font-style: italic;
}

.thrill-count {
	margin: 40px 0;
}

.thrill-countd {
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 2px solid;
	margin: 0 30px;
	font-size: 8px;
	border-radius: 50%;
	overflow: hidden;
}

.thrill-countd span {
	display: block;
	font-size: 24px;
	margin-top: 14px;
}

@media screen and (max-width: 600px) {
	.thrill-container h1 {
		font-size: 30px;
	}

	.thrill-countd {
		width: 60px;
		height: 60px;
		font-size: 6px;
		margin: 0 10px;
	}

	.thrill-countd span {
		font-size: 13px;
	}
}

@media screen and (max-width: 350px) {
	.thrill-container h1 {
		font-size: 20px;
	}

	.thrill-container h2 {
		font-size: 10px;
	}

	.thrill-countd {
		width: 50px;
		height: 50px;
		font-size: 6px;
		margin: 0 10px;
	}

	.thrill-countd span {
		font-size: 13px;
	}
}
